@charset "utf-8";
header{
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
    color:rebeccapurple;
    font-size: 20pt;
}

nav{
    list-style-type:none;
    background-color: goldenrod;
    color: black;
    padding: 0;
}
section{
    float: left;
    background-color: black;
    color: black;
    width: 70%;
}


table,th,td{
    border:1px solid;
    color:goldenrod;
    text-align: center;
}

.purpleman{
    color:rebeccapurple;
    font-size: 18pt;
}